services:
  sample-api:
    image: sample-api:latest
    command: /usr/bin/run-sample-api.sh
    ports:
      - "8080:8080"
    environment:
      - REDIS_DNS_NAME=redis
      - REDIS_PORT=6379
      - REDIS_DATABASE=0
      - REPORTER_ADDR=host.docker.internal
      - REPORTER_PORT=1883
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
  sample-core:
    image: sample-core:latest
    command: /usr/bin/run-sample-core.sh
    environment:
      - REDIS_DNS_NAME=redis
      - REDIS_PORT=6379
      - REDIS_DATABASE=0
      - REPORTER_ADDR=host.docker.internal
      - REPORTER_PORT=1883
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    restart: unless-stopped
  mongo:
    image: mongo:4.4.18
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - /opt/sample/data/mongo:/data/db
    restart: unless-stopped
