[Unit]
Description=Sample services on Docker container
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/sample
ExecStart=/usr/bin/run-sample-services.sh
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
